@tailwind base;
@tailwind components;
@tailwind utilities;

.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.after\:bg-primary::after {
  background-color: #0caff4 !important;
}
.show {
  animation: show 0.8s ease-in-out forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
